<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="overview"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="weather$ | async as weather">
        {{ weather.current.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="weather$ | async as weather; else loading">
    <div class="current">
      <p class="weather--description">{{ weather.current.weather[0].description }}</p>

      <div class="temp--actual">
        {{ weather.current.main.temp }}<span class="unit">°c</span>
      </div>
    </div>

    <app-forecast-hourly [forecast]="weather.forecast.hourly"></app-forecast-hourly>

    <app-forecast-daily [forecast]="weather.forecast.daily"></app-forecast-daily>
  </div>

</ion-content>

<ng-template #loading>
  <ion-spinner id="loading"></ion-spinner>
</ng-template>
