ion-toolbar, ion-header {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.header-md::after {
    background-image: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-content {
    --background: var(--ion-color-primary);
    --background: linear-gradient(35deg, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
}

#container {
    display: flex;
    flex-direction: column;

    .current {
        padding: 0 16px;
        margin-top: 75px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .temp--actual {
            font-size: 7rem;
            font-weight: bold;
            line-height: 1;
            display: flex;

            .unit {
                font-size: 3.5rem;
                align-self: flex-start;
                padding-top: 8px;
            }
        }
        p.weather--description {
            margin: 0;
            line-height: 1;
            margin-bottom: 16px;
            font-size: 1.5rem;
            font-weight: 300;

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

}