<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="overview"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container" *ngIf="weathers$ | async as weathers; else loading">

    <ion-list>   
      <div *ngFor="let weather of weathers; let index = index">
        <app-weather-list-item [weather]="weather"></app-weather-list-item>

      <!-- <ion-item *ngFor="let weather of weathers; let i = index" [routerLink]="weather.name">
        <ion-img [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" slot="start"></ion-img>
        <ion-label>
          <h2>{{ weather.name }}</h2>
          <p>{{ weather.weather[0].description }}</p>
        </ion-label>
        <ion-label slot="end">
          <h2>{{ weather.main.temp }}°C</h2>
          <p>Wind: {{ weather.wind.speed }}</p>
        </ion-label>
      </ion-item> -->

      </div> 
    </ion-list>

  </div>
</ion-content>

<ng-template #loading>
  <ion-spinner id="loading"></ion-spinner>
</ng-template>
