<ion-card *ngIf="forecast">
  <ion-card-header>
    <ion-label>
      Hourly forecast
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <div class="forecast--slider hourly">
      <div class="forecast--item" *ngFor="let hour of forecast">
        <ion-img class="icon" [src]="'http://openweathermap.org/img/wn/' + hour.weather[0].icon + '.png'"></ion-img>

        <div class="date">
          {{ (hour.dt * 1000) | date: 'HH' }}:00
        </div>
        
        <div class="temp">
          {{ hour.temp }}°C
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>