@font-face {   
    font-family: 'Lato';
    font-weight: normal;
    src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {   
    font-family: 'Lato'; 
    font-weight: bold;
    font-style: normal;
    src: url('../assets/fonts/Lato-Bold.ttf');
}

@font-face {   
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
    src: url('../assets/fonts/Lato-BoldItalic.ttf');
}

@font-face {   
    font-family: 'Lato'; 
    font-weight: normal;
    font-style: italic;
    src: url('../assets/fonts/Lato-Italic.ttf');
}

@font-face {   
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/Lato-Light.ttf');
}

@font-face {   
    font-family: 'Lato'; 
    font-weight: 300;
    font-style: italic;
    src: url('../assets/fonts/Lato-LightItalic.ttf');
}

@font-face {   
    font-family: 'Lato';
    font-weight: 200;
    font-style: normal;
    src: url('../assets/fonts/Lato-Thin.ttf');
}

@font-face {   
    font-family: 'Lato'; 
    font-weight: 200;
    font-style: italic;
    src: url('../assets/fonts/Lato-ThinItalic.ttf');
}