<ion-card *ngIf="forecast">
  <ion-card-header>
    <ion-label>
      Daily forecast
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <div class="forecast--slider daily">
      <div class="forecast--item" *ngFor="let day of forecast | slice:1;">
        <ion-img class="icon" [src]="'http://openweathermap.org/img/wn/' + day?.weather[0].icon + '.png'"></ion-img>
        
        <div class="date">
          {{ (day.dt * 1000) | date: 'EEEE' }}
        </div>
        
        <div class="temp">
          {{ day.temp.day }}°C
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>