ion-card {
    --background: rgba(var(--ion-color-primary-rgb),0.25);
    color: white;

    ion-card-header {
        --color: white;
    }

    .forecast--slider {
        display: flex;
        overflow-x: scroll;

        .forecast--item {
            padding: 16px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}