<ion-item *ngIf="weather" [routerLink]="weather.name">
  <ion-img [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" slot="start"></ion-img>
  <ion-label>
    <h2>{{ weather.name }}</h2>
    <p>{{ weather.weather[0].description }}</p>
  </ion-label>
  <ion-label slot="end">
    <h2>{{ weather.main.temp }}°C</h2>
    <p>Wind: {{ weather.wind.speed }}</p>
  </ion-label>
</ion-item>