ion-item {
    margin-top: 8px;
    margin-bottom: 8px;

    ion-label {
        flex: 1;

        p::first-letter {
            text-transform: uppercase;
        }
    }

    ion-label[slot="end"] {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-content: flex-end;

        h2, p {
            display: inline-block;
        }
    }
}